.login-pf body {
    background: url(../img/5106989.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    
}

div.kc-logo-text {
    background-image: url(../img/bitvivid-logo_300x63.png);
    background-repeat: no-repeat;
    height: 63px;
    width: 300px;
    margin: 0 auto;
}

.card-pf {  
    border-color: #93035e;
    background-color: #ffffffb9;
}

.pf-c-button.pf-m-primary {
   
    background-color: #93035e;
}